.photo-gallery {
  color: #313437;
  background-color: #fff;
}

.photo-gallery p {
  color: #7d8285;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #ff000000;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #ff000000;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #ff000000;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #ff000000;
}

.tooltip-inner {
  width: 200px;
  height: 30px;
  padding: 4px;
}

